= render "purchases/form-header"
.form-wrapper
  .section
    %section.head
      %h2.head--title ユーザー情報登録
    .devise-form
      = form_for(@user, url: user_registration_path) do |f|
        -# = render "devise/shared/error_messages", resource: @user
        .contents
          %section#top-field.field
            = f.label :nickname, "ニックネーム", class: "field--name"
            %span.field--required 必須
            %br/
            .input
              = f.text_field :nickname, autofocus: true, class: "input--style", placeholder: "例）furima太郎"
            - if @user.errors.include?(:nickname)
              %p.error-text
                = @user.errors.messages[:nickname][0]

          %section.field
            = f.label :email, "メールアドレス", class: "field--name"
            %span.field--required 必須
            %br/

            .input
              = f.text_field :email, autocomplete: "email", class: "input--style", placeholder: "PC・携帯電話どちらでも可"
            - if @user.errors.include?(:email)
              %p.error-text
                = @user.errors.messages[:email][0]

          %section.field
            = f.label :password, "パスワード", class: "field--name"
            %span.field--required 必須
            %br/
            .input
              = f.password_field :password, autocomplete: "new-password", class: "input--style", placeholder: "7文字以上半角英数字"
            - if @user.errors.include?(:password)
              %p.error-text
                = @user.errors.messages[:password][0]


          %section.field
            = f.label :password_confirmation, "パスワード確認", class: "field--name"
            %span.field--required 必須
            %br/
            .input
              = f.password_field :password_confirmation, autocomplete: "new-password", class: "input--style", placeholder: "7文字以上半角英数字"
          .actions
            = f.submit "次へ進む", class: "actions__btn"
      //= render "devise/shared/links"
= render "purchases/form-info"
