= render "purchases/form-header"
.form-wrapper
  .section
    %section.head
      %h2.head--title 本人確認情報
    .devise-form
      = form_for @identification do |f|
        /= render "devise/shared/error_messages", resource: @identification
        .contents
          %section#top-field.field
            = f.label :last_name, "姓", class: "field--name"
            %span.field--required 必須
            %br/
            = f.text_field :last_name, autofocus: true, class: "input--style half", placeholder: "例）山田"
          %section.field
            = f.label :first_name, "名", class: "field--name"
            %span.field--required 必須
            %br/
            = f.text_field :first_name, class: "input--style half", placeholder: "例）太郎"
          %section.field
            = f.label :last_name_kana, "姓（カナ）", class: "field--name"
            %span.field--required 必須
            %br/
            = f.text_field :last_name_kana, class: "input--style", placeholder: "例）ヤマダ"
          %section.field
            = f.label :first_name_kana, "名（カナ）", class: "field--name"
            %span.field--required 必須
            %br/
            = f.text_field :first_name_kana, class: "input--style", placeholder: "例）タロウ"
          %section.field
            = f.label :birthday, "生年月日", class: "field--name"
            %span.field--required 必須
            %br/
            != sprintf(f.date_select(:birthday, prefix:'birthday', with_css_classes:'XXXXX', prompt:"--", use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
          .actions
            = f.submit "次へ進む", class: "actions__btn"
      //= render "devise/shared/links"
= render "purchases/form-info"
