= render "purchases/form-header"
.form-wrapper
  .section
    %section.content
      %h2.content__check 購入内容の確認
    %section.product
      .detail
        .image
          = image_tag @product.images.first.image.url, class: "product-img"
        .product-info
          %p.product-info__name
            = @product.name
          .product-info__price
            %span.product-info__price--tax 送料込み（税込）
            %span.product-info__price--number
              = "¥" + @product.price.to_s
    %section.pay-fee
      .total
        %p.total__font 支払金額
        %p.total__price
          = "¥" + @product.price.to_s
    - if @card_selected.card_selected.to_i == 0
      %section.pay-method
        .payment
          .payment-top
            %h3.title 支払い方法
            = link_to "変更します >", payment_method_purchases_path(id: @product.id), class: "change-btn"
          .payment__method
            %p.credit-card コンビニ/ATM払い
            %p.fee (手数料¥100)
    - else
      %section.pay-method
        .payment
          .payment-top
            %h3.title 支払い方法
            = link_to "変更します >", payment_method_purchases_path(id: @product.id), class: "change-btn"
          .payment__method
            %p.credit-card クレジットカード
            %p.number
              = "************" + @card_info.last4
            %p.expiration
              - exp_month = @card_info.exp_month.to_s
              - exp_year = @card_info.exp_year.to_s.slice(2,3)
              = "有効期限 " + exp_month + " / " + exp_year
    %section.address
      .address__user
        .address__user--top
          %h3.title 配送先
        .address-font
          %p.address-font--postcode
            = @address.postcode
          %p.address-font--city
            = @address.prefecture.name + " " + @address.city + " " + @address.block + " " + @address.building
          %p.address-font--name
            = @address.last_name + @address.first_name
    %section.buy-button
      .btn
        %button.btn--purchase 購入する
    %section.buy-button-modal
      .sign_modal_wrapper.sign_modal_bg
        .sign_modal
          .sign_up_modal.sign_modal_content
            購入確認画面
          .imageg
            = image_tag @product.images.first.image.url, class: "product-img"
          .price
            %p.total__price
              = "¥" + @product.price.to_s
          .last-confirmation
            .cancellBtn
              .cancell-button キャンセル
            .buyBtn
              = form_tag(pay_purchases_path(id: @product.id)) do
                %button.byModal-button 購入確定
= render "purchases/form-info"
