.purchases-header
  .header__btn
    =link_to image_tag("material/logo/logo.png", width: "185px", height: "50px"), '#', class: 'black-logo'
.purchases-wrapper
  .section
    .section-top
      %h2.title 支払い方法
    %form.payments
      = form_with do |f|
        .atm
          .contents
            .mark
              = f.radio_button :test, "1", class: "check-img"
            .pay-atm
              %p.name コンビニ/ATM払い
              %p.fee （手数料¥100）
        .credit-card
          .current-user
            .current-user__info
              .credit-check
                = f.radio_button :test, "2", class: "credit-check__button"
              .credit-info
                %p.number ************0000
                %p.expiration 有効期限 01/01
                .image
                  = image_tag 'material/credit-card-logo-jcb.gif', class: 'img'
            .current-user__delete
              = link_to "削除する", purchases_path, class: "current-user__delete--btn"
          .credit-card__new
            = link_to " クレジットカードを追加", "#", class: "credit-new-button"
        .button
          .button__enter
            = link_to "選択した支払い方法を使う", "#", class: "enter-button"
          .button__back
            = link_to "もどる", purchases_path, class: "back-button"
.purchases-info
  %ul.menu
    %li.menu--list
    = link_to "プライバシーポリシー", "#", class: "menu--list"
    %li.menu--list
    = link_to "メルカリ利用規約", "#", class: "menu--list"
    %li.menu--list
    = link_to "特許商取引に関する表記", "#", class: "menu--list"
  .icon
    =link_to image_tag("material/logo/logo-white.png", width: "160px", height: "40px"), '#', class: 'white-logo'
  %p.copyright © FURIMA
