.mypage-left
  .mypage-left__content
    = link_to mypages_path, class: "button" do
      .text-box
        .text-box__left
          マイページ
        .text-box__right
          = icon("fas", "chevron-right")
    = link_to "#", class: "button" do
      .text-box
        .text-box__left
          いいね一覧
        .text-box__right
          = icon("fas", "chevron-right")
    = link_to "#", class: "button" do
      .text-box
        .text-box__left
          出品する
        .text-box__right
          = icon("fas", "chevron-right")
    = link_to "#", class: "button" do
      .text-box
        .text-box__left
          下書き一覧
        .text-box__right
          = icon("fas", "chevron-right")
    = link_to "#", class: "button" do
      .text-box
        .text-box__left
          出品した商品−出品中
        .text-box__right
          = icon("fas", "chevron-right")
    = link_to "#", class: "button" do
      .text-box
        .text-box__left
          出品した商品−売却済み
        .text-box__right
          = icon("fas", "chevron-right")
    = link_to "#", class: "button" do
      .text-box
        .text-box__left
          購入した商品−取引中
        .text-box__right
          = icon("fas", "chevron-right")
    = link_to "#", class: "button" do
      .text-box
        .text-box__left
          購入した商品−過去の取引
        .text-box__right
          = icon("fas", "chevron-right")
    = link_to "#", class: "button" do
      .text-box
        .text-box__left
          評価一覧
        .text-box__right
          = icon("fas", "chevron-right")
  .middle-text
    設定
  .mypage-left__content
    = link_to "#", class: "button" do
      .text-box
        .text-box__left
          発送元・お届け先住所変更
        .text-box__right
          = icon("fas", "chevron-right")
    = link_to payment_method_mypages_path, class: "button" do
      .text-box
        .text-box__left
          支払い方法
        .text-box__right
          = icon("fas", "chevron-right")
    = link_to "#", class: "button" do
      .text-box
        .text-box__left
          メール/パスワード
        .text-box__right
          = icon("fas", "chevron-right")
    = link_to users_path, class: "button" do
      .text-box
        .text-box__left
          ログアウト
        .text-box__right
          = icon("fas", "chevron-right")