=render partial: "header" 
.mypage-wrapper
  .main-body
    .mypage-left
      .mypage-left__content
        -# %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"}
        = link_to "#", class: "button" do
          .text-box
            .text-box__left
              マイページ
            .text-box__right
              = icon("fas", "chevron-right")
        = link_to "#", class: "button" do
          .text-box
            .text-box__left
              いいね一覧
            .text-box__right
              = icon("fas", "chevron-right")
        = link_to "#", class: "button" do
          .text-box
            .text-box__left
              出品する
            .text-box__right
              = icon("fas", "chevron-right")
        = link_to "#", class: "button" do
          .text-box
            .text-box__left
              下書き一覧
            .text-box__right
              = icon("fas", "chevron-right")
        = link_to "#", class: "button" do
          .text-box
            .text-box__left
              出品した商品−出品中
            .text-box__right
              = icon("fas", "chevron-right")
        = link_to "#", class: "button" do
          .text-box
            .text-box__left
              出品した商品−売却済み
            .text-box__right
              = icon("fas", "chevron-right")
        = link_to "#", class: "button" do
          .text-box
            .text-box__left
              購入した商品−取引中
            .text-box__right
              = icon("fas", "chevron-right")
        = link_to "#", class: "button" do
          .text-box
            .text-box__left
              購入した商品−過去の取引
            .text-box__right
              = icon("fas", "chevron-right")
        = link_to "#", class: "button" do
          .text-box
            .text-box__left
              評価一覧
            .text-box__right
              = icon("fas", "chevron-right")
      .middle-text
        設定
      .mypage-left__content
        = link_to "#", class: "button" do
          .text-box
            .text-box__left
              発送元・お届け先住所変更
            .text-box__right
              = icon("fas", "chevron-right")
        = link_to "#", class: "button" do
          .text-box
            .text-box__left
              支払い方法
            .text-box__right
              = icon("fas", "chevron-right")
        = link_to "#", class: "button" do
          .text-box
            .text-box__left
              メール/パスワード
            .text-box__right
              = icon("fas", "chevron-right")
        = link_to "#", class: "button" do
          .text-box
            .text-box__left
              ログアウト
            .text-box__right
              = icon("fas", "chevron-right")
          
    .mypage-right-main
      .mypage-right-main__user
        = image_tag "user-bg.jpg", size: "700x200"
        .mypage__right-main__user__icon
          = image_tag "mypage-logo.jpg", size: "50x50"
      
      %ul.menu
        %li.menu__list
          %a#about.menu_item.active{:href => "#"} 出品中の商品
        %li.menu__list
          %a#about.menu_item.active{:href => "#"} 過去の取引商品
      %ul.contents
      %li.content.show
        出品中の商品はありません
        = image_tag "logo-white.png", size: "350x110"
      %li.content 
        過去の取引商品はありません
        = image_tag "logo-white.png", size: "350x110"
  =render partial: "footer"
  -# .mypage__right-main__bottom
  -#   = link_to "購入した商品", "#", class: "class"
  -# .mypage__right-main__bottom__tab
  -#   .tab-active1.tab
  -#     = link_to "出品中", "#", class: "class"
  -#   .tab-active2.tab 
  -#     = link_to "過去の取引", "#", class: "class"
  -# .main-mypagebox__content-area  
  -#   .tab1-content.content.show
  -#     .tab1-coment 出品中の商品はありません
  -#     = image_tag "logo-white.png", size: "350x110"
  -#   .tab2-content.content
  -#     .tab2-coment 過去の取引商品はありません
  -#     = image_tag "logo-white.png", size: "350x110"
      

  -# .side-bar-navi 
  -# .side-bar-navi__content
  -#   %li.mypage-left__btn 
  -#     = link_to "購入した商品−取引中 ", "#", class: "class
  -# = image_tag "user-bg.jpg", size: "700x200"

  -# %h2.mypage-tab-head
  -# = link_to "購入した商品", "#", class: "class"
        
  -#         .main-mypagebox__head 購入した商品
  -#         .main-mypagebox__tab 
  -#           .tab-active1.tab 出品中
  -#           .tab-active2.tab 過去の取引
  -#         .main-mypagebox__content-area  
  -#           .tab1-content.content.show
  -#             .tab1-coment 出品中の商品はありません
  -#             = image_tag "logo-white.png", size: "350x110"
  -#           .tab2-content.content
  -#             .tab2-coment 過去の取引商品はありません
  -#             = image_tag "logo-white.png", size: "350x110

  -# .body-mypage
  -# .wrapper-mypage
  -#   .header__mypage
  -#   %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"}
  -#   .mainbox__mypage
  -#     .side-bar
  -#       %ul.side-bar__items
  -#         %li.side-bar__items-boxes
  -#           .side-bar__items-boxes--active マイページ 
  -#           .side-bar__item-box--active-mark
  -#             = icon("fas", "chevron-right", class: "angle-icon",)
  -#         %li.side-bar__items-boxes
  -#           .side-bar__items-boxes--active いいね一覧 
  -#           .side-bar__item-box--active-mark
  -#             = icon("fas", "chevron-right", class: "angle-icon")
  -#         %li.side-bar__items-boxes
  -#           .side-bar__items-boxes--active 出品する 
  -#           .side-bar__item-box--active-mark
  -#             = icon("fas", "chevron-right", class: "angle-icon")
  -#         %li.side-bar__items-boxes
  -#           .side-bar__items-boxes--active 下書き一覧 
  -#           .side-bar__item-box--active-mark
  -#             = icon("fas", "chevron-right", class: "angle-icon")
  -#         %li.side-bar__items-boxes
  -#           .side-bar__items-boxes--active 出品した商品−出品中 
  -#           .side-bar__item-box--active-mark
  -#             = icon("fas", "chevron-right", class: "angle-icon")
  -#         %li.side-bar__items-boxes
  -#           .side-bar__items-boxes--active 出品した商品−売却済み 
  -#           .side-bar__item-box--active-mark
  -#             = icon("fas", "chevron-right", class: "angle-icon")
  -#         %li.side-bar__items-boxes
  -#           .side-bar__items-boxes--active 購入した商品−取引中 
  -#           .side-bar__item-box--active-mark
  -#             = icon("fas", "chevron-right", class: "angle-icon")
  -#         %li.side-bar__items-boxes
  -#           .side-bar__items-boxes--active 購入した商品−過去の取引 
  -#           .side-bar__item-box--active-mark
  -#             = icon("fas", "chevron-right", class: "angle-icon")
  -#         %li.side-bar__items-boxes
  -#           .side-bar__items-boxes--active 評価一覧
  -#           .side-bar__item-box--active-mark
  -#             = icon("fas", "chevron-right", class: "angle-icon")
  -#       .side-bar-navi 
  -#         .side-bar-navi_content 設定
  -#       %ul.side-bar__items
  -#         %li.side-bar__items-boxes
  -#           .side-bar__items-boxes--active プロフィール
  -#           .side-bar__item-box--active-mark
  -#             = icon("fas", "chevron-right", class: "angle-icon")
  -#         %li.side-bar__items-boxes
  -#           .side-bar__items-boxes--active 発送元・お届け先住所変更 
  -#           .side-bar__item-box--active-mark
  -#             = icon("fas", "chevron-right", class: "angle-icon")
  -#         = link_to "#" do
  -#           %li.side-bar__items-boxes
  -#             .side-bar__items-boxes--active 支払い方法
  -#             .side-bar__item-box--active-mark
  -#               = icon("fas", "chevron-right", class: "angle-icon")
  -#         %li.side-bar__items-boxes
  -#           .side-bar__items-boxes--active メール /パスワード
  -#           .side-bar__item-box--active-mark
  -#             = icon("fas", "chevron-right", class: "angle-icon")
  -#         %li.side-bar__items-boxes
  -#           .side-bar__items-boxes--active 電話番号の確認（保留）
  -#           .side-bar__item-box--active-mark
  -#             = icon("fas", "chevron-right", class: "angle-icon")
  -#         = link_to users_path do
  -#           %li.side-bar__items-boxes
  -#             .side-bar__items-boxes--active ログアウト
  -#             .side-bar__item-box--active-mark
  -#               = icon("fas", "chevron-right", class: "angle-icon")
        
  -#     .main-bar-items
    
  -#       .top-box__mypage 
  -#         = image_tag "user-bg.jpg", size: "700x200"
  -#         .top-box__mypege-inbox  
  -#         .top-box__maypage-logo A
  -#         .user__name name
  -#         .products__rating 評価数・出品数
          
  -#       .main-mypagebox
        
  -#         .main-mypagebox__head 購入した商品
  -#         .main-mypagebox__tab 
  -#           .tab-active1.tab 出品中
  -#           .tab-active2.tab 過去の取引
  -#         .main-mypagebox__content-area  
  -#           .tab1-content.content.show
  -#             .tab1-coment 出品中の商品はありません
  -#             = image_tag "logo-white.png", size: "350x110"
  -#           .tab2-content.content
  -#             .tab2-coment 過去の取引商品はありません
  -#             = image_tag "logo-white.png", size: "350x110"
