=render partial: "products/head_tmp" 
.mypage-wrapper
  .main-body
    =render partial: "side_bar"
    .mypage__right-main
      .main-box
        = image_tag "user-bg.jpg", size: "700x200"
        .user
          .user__img
            = image_tag "mypage-logo.jpg", size: "50x50", class: "user__img--img"
          .user-name
            = @user.nickname
          .info-box
            .info-box__left
              .info-box__left--text
                評価
              .info-box__left--num
                0
            .info-box__right
              .info-box__right--text
                出品数
              .info-box__right--num
                = @saler.length
      .menu-head__tab 購入した商品
      .menu
        .menu__list.active
          #about.menu__item 過去の取引商品
        .menu__list
          #about.menu__item 出品した商品
      .menu__product
        .display.products_info.second-display
          -if @buyer.length == 0
            = image_tag "logo-white.png", size: "250x80", class:"content-image"
            %li.content.show
              過去の取引はありません
          -else 
            - @buyer.each do |test|
              = link_to product_path(test.id), class: "saler-product" do
                .product-item
                  = image_tag test.images[0].image.url, size: "50x50"
                  .produit-details
                    %p.name
                      = test.name;
                    .mypage-item-status
                      取引完了 
                .menu-myitem__right
                  = icon("fas", "chevron-right")
        .display.products_info
          -if @saler.length == 0
            = image_tag "logo-white.png", size: "250x80", class:"content-image"
            %li.content.show
              出品中の商品はありません
          -else 
            - @saler.each do |test|
              = link_to edit_product_path(test.id), class: "saler-product" do
                .product-item
                  = image_tag test.images[0].image.url, size: "50x50"
                  .produit-details
                    %p.name
                      = test.name;
                    -if test.buyer_id.blank?
                      .mypage-item-status
                        出品中
                    -else
                      .mypage-item-status
                        取引完了
                .menu-myitem__right
                  = icon("fas", "chevron-right")     
=render partial: "products/footer_tmp"