= render "purchases/form-header"
.form-wrapper
  .section
    %section.section-top
      %h2.title クレジットカード情報入力
    %section.form-card
      = form_tag(pay_card_index_path(id: params[:id]), method: :post, id: 'charge-form',  name: "inputForm") do
        -# = submit_tag "追加する", id: "token_submit", class: "change__btn"
        .contents
          %section#top-group.group
            %label.group--name カード番号
            %span.group--required 必須
            = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" , maxlength: "16", type: "text", id: "card_number", class: "input--style"
            .image
              = image_tag 'material/card-logo/logo_visa.gif', class: 'img'
              = image_tag 'material/card-logo/logo_mastercard.gif', class: 'img'
              = image_tag 'material/card-logo/saison-logomark.gif', class: 'img'
              = image_tag 'material/card-logo/credit-card-logo-jcb.gif', class: 'img'
              = image_tag 'material/card-logo/amex-logomark.gif', class: 'img'
              = image_tag 'material/card-logo/diners-logomark.gif', class: 'img'
              = image_tag 'material/card-logo/discover-logomark.gif', class: 'img'
          %section.group
            %label.group--name 有効期限
            %span.group--required 必須
            .select-exp
              %select#exp_month{name: "exp_month", type: "text"}
                %option{value: ""} --
                %option{value: "1"}01
                %option{value: "2"}02
                %option{value: "3"}03
                %option{value: "4"}04
                %option{value: "5"}05
                %option{value: "6"}06
                %option{value: "7"}07
                %option{value: "8"}08
                %option{value: "9"}09
                %option{value: "10"}10
                %option{value: "11"}11
                %option{value: "12"}12
              %span#exp-month-span 月
              %select#exp_year{name: "exp_year", type: "text"}
                %option{value: ""} --
                %option{value: "2019"}19
                %option{value: "2020"}20
                %option{value: "2021"}21
                %option{value: "2022"}22
                %option{value: "2023"}23
                %option{value: "2024"}24
                %option{value: "2025"}25
                %option{value: "2026"}26
                %option{value: "2027"}27
                %option{value: "2028"}28
                %option{value: "2029"}29
              %span#exp-month-span 年
          %section.group
            %label.group--name セキュリティコード
            %span.group--required 必須
            = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc", class: "input--style"
            .desc
              %p.desc--sentence カード裏面の番号とは？
          #card_token.change
            = submit_tag "登録する", id: "token_submit", class: "change__btn"
            = image_tag 'material/ajax-load.gif', class: "icon_load"
            -# = link_to "もどる", :back, class: "back-button"
            - if params[:id].blank?
              = link_to "もどる", payment_method_purchases_path, class: "back-button"
            - else
              = link_to "もどる", payment_method_purchases_path(id: params[:id].to_i), class: "back-button"
= render "purchases/form-info"