.header-top
  = render 'products/head_tmp'
  
.category-wrapper
  .category
    %h1.category__name
      = @categories.name
    %p.category__list
      - if @categories.root?
      - elsif @categories.has_children?
        = link_to category_path(@categories.parent.id) do
          = @categories.parent.name
      - else
        = link_to category_path(@categories.parent.parent.id) do
          = @categories.parent.parent.name
        >
        = link_to category_path(@categories.parent.id) do
          = @categories.parent.name
    .products-list
      %ul
        %li
          .product
            =link_to "#",{class: "product__style"} do
              %figure
                %figcaption
                  %span
                  = @categories.products.name
                .thumbnail
                  %span ¥2,500
                  = image_tag 'material/pict/a001.png'
        %li
          .product
            =link_to "#",{class: "product__style"} do
              %figure
                %figcaption
                  %span カレーライス
                .thumbnail
                  %span ¥2,500
                  = image_tag 'material/pict/a001.png'
        %li
          .product
            =link_to "#",{class: "product__style"} do
              %figure
                %figcaption
                  %span カレーライス
                .thumbnail
                  %span ¥2,500
                  = image_tag 'material/pict/a001.png'
        %li
          .product
            =link_to "#",{class: "product__style"} do
              %figure
                %figcaption
                  %span カレーライス
                .thumbnail
                  %span ¥2,500
                  = image_tag 'material/pict/a001.png'
        %li
          .product
            =link_to "#",{class: "product__style"} do
              %figure
                %figcaption
                  %span カレーライス
                .thumbnail
                  %span ¥2,500
                  = image_tag 'material/pict/a001.png'
        %li
          .product
            =link_to "#",{class: "product__style"} do
              %figure
                %figcaption
                  %span カレーライス
                .thumbnail
                  %span ¥2,500
                  = image_tag 'material/pict/a001.png'

  = render 'products/footer_tmp'
