.product-wrapper
  = form_with model: @product, local: true do |form|
    .product-wrapper__top
      .corporate-logo
        = image_tag 'material/logo/logo.png', class: 'corporate-logo__img'
    .product-wrapper__middle
      .content-01
        .registration-item
          .registration-item__left
            出品画像
          .registration-item__right
            .registration-item__right--color
              必須
        .max-uploads
          最大10枚までアップロードできます
        .uploads
          #uploads-box
          .uploads__icon
            = image_tag 'material/icon/icon_camera.png', class: 'uploads__icon--image'
          .uploads__file
            #image-box
              #previews
                - @product.images.each_with_index do |image, i|
                  = image_tag image.image.url, data: { index: i }, width: '120', height: '130'
              = form.fields_for :images do |image|
                .js-file_group{"data-index": "#{image.index}"}
                  = image.file_field :image, class: 'js-file'
                  %span.js-remove
                    削除
                -if @product.persisted?
                  = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
              -if @product.persisted?
                .js-file_group{"data-index" => "#{@product.images.count}"}
                  = file_field_tag :image, name: "product[images_attributes][#{@product.images.count}][image]", class: 'js-file'
                  %span.js-remove
                    削除
              - if @product.errors.include?(:images)
                %p.error-text
                  = @product.errors.messages[:images][0]
                    
      .content-02
        .registration-item
          .registration-item__left
            商品名
          .registration-item__right
            .registration-item__right--color
              必須
        .input-string
          = form.text_field :name, class: 'input-string__form', maxlength: 11, placeholder: 'type a message'
          - if @product.errors.include?(:name)
            %p.error-text
              = @product.errors.messages[:name][0]
        .registration-item
          .registration-item__left
            商品の説明
          .registration-item__right
            .registration-item__right--color
              必須
        .input-text
          = form.text_field :detail, class: 'input-text__form', placeholder: '商品の説明（必須1000文字以内）'
          - if @product.errors.include?(:detail)
            %p.error-text
              = @product.errors.messages[:detail][0]
        .count-length
          0/1000
      .content-03
        .title-03
          商品の詳細
        .registration-item
          .registration-item__left
            カテゴリー
          .registration-item__right
            .registration-item__right--color
              必須
        .input-string
          .input-string__category
            = form.collection_select :category_id, @category_parent_array, :id, :name, { prompt: '選択してください', selected: Product.find(params[:id]).category.parent.parent.id}, {class: 'input-string__category--form', id: 'parent-category'}
            #child-wrapper.input-string__category
              = form.collection_select :category_id, @product_children_category, :id, :name, {selected: Product.find(params[:id]).category.parent.id}, {class: 'input-string__category--form'}
              #grandchild-wrapper.input-string__category
                = form.collection_select :category_id, @product_grandcildren_category, :id, :name, {selected: Product.find(params[:id]).category.id}, {class: 'input-string__category--form'}
          - if @product.errors.include?(:category)
            %p.error-text
              = @product.errors.messages[:category][1]
        .registration-item
          .registration-item__left
            ブランド
          .registration-item__rightgray 
            .registration-item__rightgray--gray
              任意
        .input-string
          = form.fields_for :brand do |brand|
            = brand.text_field :name, placeholder: "例）シャネル", value: "", class: 'input-string__form'
        .registration-item
          .registration-item__left
            商品の状態
          .registration-item__right
            .registration-item__right--color
              必須
        .input-string
          = form.collection_select :status_id, Status.all, :id, :name, {include_blank: "選択してください"}, {class: 'input-string__form'}
          - if @product.errors.include?(:status_id)
            %p.error-text
              = @product.errors.messages[:status_id][0]
      .content-04
        .title-box
          .title-box__title04
            配送について
          .title-box__question
            =icon('fas','question-circle')
        .registration-item
          .registration-item__left
            配送料の負担
          .registration-item__right
            .registration-item__right--color
              必須
        .input-string
          = form.collection_select :shippingcost_id, Shippingcost.all, :id, :name, {include_blank: "選択してください"}, {class: 'input-string__form'}
          - if @product.errors.include?(:shippingcost_id)
            %p.error-text
              = @product.errors.messages[:shippingcost_id][0]
        .registration-item
          .registration-item__left
            発送元の地域
          .registration-item__right
            .registration-item__right--color
              必須
        .input-string
          = form.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "選択してください"}, {class: 'input-string__form'}
          - if @product.errors.include?(:prefecture_id)
            %p.error-text
              = @product.errors.messages[:prefecture_id][0]
        .registration-item
          .registration-item__left
            発送までの日数
          .registration-item__right
            .registration-item__right--color
              必須
        .input-string
          = form.collection_select :shipping_id, Shipping.all, :id, :name, {include_blank: "選択してください"}, {class: 'input-string__form'}
          - if @product.errors.include?(:shipping_id)
            %p.error-text
              = @product.errors.messages[:shipping_id][0]
      .content-05
        .title-box
          .title-box__title04
            価格（¥300〜9,999,999）
          .title-box__question
            =icon('fas','question-circle')
        .price-box
          .price-box__left
            .registration-item
              .registration-item__left
                販売価格
              .registration-item__right
                .registration-item__right--color
                  必須
          .price-box__right
            .coin-box
              .coin-box__left
                ¥
              .coin-box__right
                = form.text_field :price, class: 'coin-box__right--input', placeholder: '0'
                - if @product.errors.include?(:price)
                  %p.error-text
                    = @product.errors.messages[:price][0]
        .margin-box
          .margin-box__left
            販売手数料（10%）
          .margin-box__right
            ー
        .salesprofit-box
          .salesprofit-box__left
            販売利益
          .salesprofit-box__right
            ー
        .register-btn
          = form.submit '出品する', class: 'register-btn__product'
        .save-btn
          = form.submit '下書きに保存', class: 'save-btn__save'
        .back-top
          = link_to "#", class: "back-top__font" do
            もどる
        .caution-message
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律に
          より処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
      .product-wrapper__bottom
        .policy-box
          .policy-box__left
            プライバシーポリシー
          .policy-box__center
            フリマ規約
          .policy-box__right
            特定商取引に関する表記
        .corporate-logo-white
          = image_tag 'material/logo/logo-white.png', class: 'corporate-logo-white__img'
        .corporate-inc
          @Furima.Inc.