.Product-wrapper
  %form.Form
    = form_with url: "#", local: true do |form|
      .Product-wrapper__top
        .Corporate-logo
          = image_tag 'material/logo/logo.png', class: 'Corporate-logo__img'
      .Product-wrapper__middle
        .Content-01
          .Registration-item
            .Registration-item__left
              出品画像
            .Registration-item__right
              .Registration-item__right--color
                必須
          .Max-uploads
            最大10枚までアップロードできます
          .Uploads
            .Uploads__icon
              = image_tag 'material/icon/icon_camera.png', class: 'Uploads__icon--image'
            .Uploads__file
              = form.label :image do
                = form.file_field :image
            .Uploads__sentence
              ドラッグアンドドロップ
            .Uploads__sentence
              またはクリックしてファイルをアップロード
        .Content-02
          .Registration-item
            .Registration-item__left
              商品名
            .Registration-item__right
              .Registration-item__right--color
                必須
          .Input-string
            = form.text_field :content, class: 'Input-string__form', placeholder: 'type a message'
          .Input-warning
            入力してください
          .Registration-item
            .Registration-item__left
              商品の説明
            .Registration-item__right
              .Registration-item__right--color
                必須
          .Input-text
            = form.text_field :content, class: 'Input-text__form', placeholder: '商品の説明（必須1000文字以内）'
          .Count-length
            0/1000
          .Input-warning
            入力してください
        .Content-03
          .Title-03
            商品の詳細
          .Registration-item
            .Registration-item__left
              カテゴリー
            .Registration-item__right
              .Registration-item__right--color
                必須
          .Input-string
            = form.text_field :content, class: 'Input-string__form', placeholder: 'type a message'
          .Input-string
            = form.text_field :content, class: 'Input-string__form', placeholder: 'type a message'
          .Input-string
            = form.text_field :content, class: 'Input-string__form', placeholder: 'type a message'
          .Input-warning
            選択してください
          .Registration-item
            .Registration-item__left
              ブランド
            .Registration-item__rightgray
              .Registration-item__rightgray--gray
                任意
          .Input-string
            = form.text_field :content, class: 'Input-string__form', placeholder: 'type a message'
          .Registration-item
            .Registration-item__left
              商品の状態
            .Registration-item__right
              .Registration-item__right--color
                必須
          .Input-string
            = form.text_field :content, class: 'Input-string__form', placeholder: 'type a message'
          .Input-warning
            入力してください
        .Content-04
          .Title-box
            .Title-box__title04
              配送について
            .Title-box__question
              =icon('fas','question-circle')
          .Registration-item
            .Registration-item__left
              配送料の負担
            .Registration-item__right
              .Registration-item__right--color
                必須
          .Input-string
            = form.text_field :content, class: 'Input-string__form', placeholder: 'type a message'
          .Input-warning
            入力してください
          .Registration-item
            .Registration-item__left
              発送元の地域
            .Registration-item__right
              .Registration-item__right--color
                必須
          .Input-string
            = form.text_field :content, class: 'Input-string__form', placeholder: 'type a message'
          .Input-warning
            入力してください
          .Registration-item
            .Registration-item__left
              発送までの日数
            .Registration-item__right
              .Registration-item__right--color
                必須
          .Input-string
            = form.text_field :content, class: 'Input-string__form', placeholder: 'type a message'
          .Input-warning
            入力してください
        .Content-05
          .Title-box
            .Title-box__title04
              配送について
            .Title-box__question
              =icon('fas','question-circle')
          .Price-box
            .Price-box__left
              .Registration-item
                .Registration-item__left
                  販売価格
                .Registration-item__right
                  .Registration-item__right--color
                    必須
            .Price-box__right
              .Coin-box
                .Coin-box__left
                  ¥
                .Coin-box__right
                  = form.text_field :content, class: 'Coin-box__right--input', placeholder: 'type a message'
          .Margin-box
            .Margin-box__left
              販売手数料（10%）
            .Margin-box__right
              ー
          .Margin-box
            .Margin-box__left
              販売利益
            .Margin-box__right
              ー
          .Resister-btn
            = form.submit '出品する', class: '#'
          .Save-btn
            = form.submit '下書きに保存', class: '#'
      .Product-wrapper__bottom