%header.top-area
%nav.select-area
.show-wrapper
  .show-main
    .contents
      .top-content
        .product
          %h2.product__name
            商品1
          .product__body
            %ul
              %li
                = image_tag 'material/pict/a007.png'
                %ul
                  %li
                    = image_tag 'material/pict/a007.png'
                  %li
                    = image_tag 'material/pict/a001.png'
                  %li
                    = image_tag 'material/pict/a007.png'
          .product__price
            %span
              ¥30000
            .product__price--detail
              (税込)送料込み
          .product__description
            親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td hoge
                %tr
                  %th カテゴリー
                  %td
                    = link_to 'ベビー・キッズ', "#"
                %tr
                  %th ブランド
                  %td
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td 未使用に近い
                %tr
                  %th 配送料の負担
                  %td 送料込み（出品者負担）
                %tr
                  %th 発送元の地域
                  %td
                    = link_to '岩手県', "#"
                %tr
                  %th 発送日の目安
                  %td 4-7日で発送
          .optional-area
            %ul.like
              %li.like-btn
                = icon('fa', 'star')
                お気に入り1
            %ul.report
              %li.report-btn
                = link_to "#" do
                  = icon('fa', 'flag')
                  = "不適切な商品の通報"
        .comment-box
          = form_with url: '#', class: "comment-box__new", method: :get, local: true do |form|
            = form.text_area :comment, class: "comment-box__new--body"
            %p.notice-msg
              相手のことを考え丁寧なコメントを心がけましょう。<br>不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = button_tag type: 'submit', class: "comment-box__new--btn" do
              = icon('fa', 'comment')
              = "コメントする"
      %ul.links
        %li
          = link_to "#" do
            = icon('fa', 'angle-left')
            %span
              = "前の商品"
        %li
          = link_to "#" do
            %sapn
              = "後の商品"
            = icon('fa', 'angle-right')
      .related-items
        = link_to 'ベビー・キッズをもっと見る', "#"
        .related-items__lists
          .related-items__lists__product
            = link_to "#" do
              %figure.related-items__lists__product--img
                = image_tag 'material/pict/a001.png'
              .related-items__lists__product--body
                %h3.product-name product1
                .product-price
                  %ul
                    %li
                      1000円
                    %li
                      = icon('fa', 'star')
                      1
                  %p
                    （税込）
.app-banner
.footer